        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }
        
        body {
            font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
        }
        
        .container {
            max-width: 1078px;
            margin: auto;
        }
        
        .header {
            margin-top: 55px;
            margin-bottom: 70px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        
        ul {
            margin: 0;
            padding: 0;
        }
        
        .logo {
            width: 150px;
        }
        
        .menu li {
            display: inline;
            margin: 0px 32px;
        }
        
        .menu li a {
            color: black;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 600;
        }
        
        .menu li a:hover {
            color: #FF8827;
        }
        
        .menu li a.active-menu-item {
            color: #FF8827;
        }
        
        .order {
            background-color: white;
            border: 2px black solid;
            text-align: center;
            padding: 18px 53px;
            color: black;
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 600;
            border-radius: 30px;
            cursor: pointer;
            transition: color .2s, background-color .2s, transform .2s;
        }
        
        .order:hover {
            background-color: black;
            color: white;
            transform: scale(1.05);
        }
        
        .sticker {
            display: flex;
        }
        
        .timetable-box-label {
            display: inline-block;
            height: 52px;
            border: 2px black solid;
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
            font-size: 18px;
            font-weight: 700;
            color: #FF8827;
            text-transform: uppercase;
            line-height: 50px;
            padding-left: 23px;
            padding-right: 39px;
        }
        
        .timetable-box-value {
            display: inline-block;
            height: 52px;
            line-height: 52px;
            background-color: #FBEDE0;
            border-radius: 30px;
            padding: 0px 30px;
            font-weight: bold;
            font-size: 16px;
            color: #D86C00;
            position: relative;
            top: -34px;
            left: -45px;
            margin-right: -25px;
        }
        
        .section-cream {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            background-color: #FBEDE0;
            border-top-left-radius: 120px;
            border-top-right-radius: 120px;
            border-bottom-right-radius: 120px;
            margin-top: 84px;
            padding: 90px;
            padding-right: 42px;
            padding-bottom: 40px;
        }
        
        .heading {
            display: inline-block;
            font-weight: bold;
            font-size: 80px;
            color: #1F4B59;
        }
        
        .text-welcome {
            width: 354px;
            min-height: 170px;
            font-size: 14px;
            line-height: 21px;
            color: #1F4B59;
            margin: 36px 0px;
            text-decoration: none;
        }
        
        .orange-button {
            background-color: #D86C00;
            border: none;
            text-align: center;
            display: block;
            padding: 18px 53px;
            color: white;
            text-transform: uppercase;
            font-size: 16px;
            border-radius: 30px;
            cursor: pointer;
            text-decoration: none;
            transition: transform .2s;
        }
        
        .orange-button:hover {
            transform: scale(1.05);
        }
        
        .welcome-image {
            width: 480px;
            position: relative;
            top: -130px;
            transition: transform .2s;
        }
        
        .welcome-image img {
            width: 100%;
        }
        
        .welcome-image:hover {
            transform: scale(1.12);
        }
        
        .section-bw {
            margin-top: 96px;
            position: relative;
            z-index: 0;
            height: 570px;
        }
        
        .box-bw {
            border: 2px black solid;
            border-top-left-radius: 120px;
            border-top-right-radius: 120px;
            border-bottom-left-radius: 120px;
            background-color: white;
            padding: 120px 135px 96px 66px;
        }
        
        .box-bw-size {
            position: absolute;
            top: -5px;
            bottom: 5px;
            left: -5px;
            right: 5px;
        }
        
        .small-heading {
            display: inline-block;
            font-weight: bold;
            font-size: 48px;
            color: #1F4B59;
            width: 266px;
            margin-top: 109px;
        }
        
        .content-bw {
            z-index: 1;
            position: relative;
        }
        
        .museums-buttons {
            display: inline-block;
            border: 2px #FF8827 solid;
            background-color: white;
            text-align: center;
            padding: 18px 37px;
            color: #FF8827;
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 600;
            border-radius: 30px;
            cursor: pointer;
            text-decoration: none;
            position: absolute;
            transition: background-color .2s, color .2s;
        }
        
        .museums-buttons:hover {
            background-color: #FF8827;
            color: white;
        }
        
        .museum-hystory {
            border-bottom-right-radius: 0;
            left: 54px;
            top: 17px;
        }
        
        .museum-repin {
            border-bottom-left-radius: 0;
            left: 588px;
            top: 18px;
        }
        
        .museum-art {
            border-top-left-radius: 0;
            left: 449px;
            bottom: -41px;
        }
        
        .logo-cream {
            width: 208px;
        }
        
        .musems-group {
            position: relative;
        }
        
        .logo-museums-group {
            position: absolute;
        }
        
        .logo-hystory {
            width: 100px;
            left: -33px;
            top: -33px;
        }
        
        .logo-repin {
            width: 100px;
            left: 142px;
            top: -33px;
        }
        
        .logo-art {
            width: 207px;
            left: 0px;
            bottom: -33px;
        }
        
        .all-museums-logos {
            position: absolute;
            left: 134px;
            top: -38px;
            height: 350px;
            width: 900px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .footer {
            background-color: #FBEDE0;
            border-top-left-radius: 120px;
            border-top-right-radius: 120px;
            border-bottom-right-radius: 0px;
            border-bottom-left-radius: 0px;
            margin-top: 90px;
            padding: 67px 270px;
        }
        
        .columns {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
            margin-top: 30px;
        }
        
        .main-footer {
            width: 883px;
            height: 211px;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: flex-start;
            align-content: stretch;
        }
        
        .xs-heading {
            display: inline-block;
            font-weight: bold;
            font-size: 24px;
            color: #1F4B59;
        }
        
        .contacts-social {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        
        .social {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }
        
        .img-margins {
            margin-right: 40px;
        }
        
        .text-footer {
            line-height: 21px;
            color: #1F4B59;
            text-decoration: none;
        }
        
        .name {
            color: #1F4B59;
            font-weight: 700;
            font-size: 20px;
        }
        
        .contact-phone {
            display: flex;
            align-items: flex-start;
        }
        
        .name-job {
            margin-top: 9px;
        }
        
        .phone-email {
            margin-top: 20px;
        }
        
        .margin-text {
            margin-top: 5px;
            display: block;
        }
        
        .section-green {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            background-color: #1F4B59;
            border-top-left-radius: 120px;
            border-top-right-radius: 120px;
            border-bottom-right-radius: 120px;
            margin-top: 84px;
            padding: 0px 100px;
        }
        
        .text-about-picture {
            width: 500 px;
            font-size: 14px;
            color: rgb(255, 255, 255);
            margin: 36px 0px;
            text-decoration: none;
            line-height: 21px;
        }
        
        .heading-portrait {
            display: inline-block;
            font-weight: bold;
            font-size: 36px;
            color: #FBEDE0;
        }
        
        .picture-arm {
            margin: 86px 0px;
            position: relative;
        }
        
        .arm {
            position: absolute;
            top: 334px;
            left: 41px;
        }
        
        .portrait-information {
            margin: 155px 0px 0px 67px;
        }
        
        .buttons-group {
            margin-top: 80px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        
        .bw-button-group {
            position: relative;
            margin-bottom: 40px;
        }
        
        .bw-button {
            border: 2px black solid;
            border-radius: 63px;
            width: 315px;
            height: 315px;
            background-color: white;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: background-color .2s;
        }
        
        .bw-button:hover {
            background-color: #1F4B59;
        }
        
        .bw-button-back {
            border: 2px black solid;
            border-radius: 63px;
            width: 315px;
            height: 315px;
            background-color: white;
            position: absolute;
            z-index: -1;
            bottom: -8px;
            left: 8px;
        }
        
        .arrow-button {
            text-decoration: none;
            border: none;
            background-color: none;
            display: flex;
            align-items: center;
            margin: 80px auto 0;
        }
        
        .margin-arrow {
            margin-right: 20px;
        }
        
        .hidden-footer {
            height: 0;
            margin: 0;
            overflow: hidden;
            transition: all .3s;
        }
        
        .footer-animated:hover .hidden-footer {
            height: 125px;
            margin-top: 30px;
            overflow: hidden;
        }
        
        .section-cream-small {
            width: 850px;
            align-items: flex-start;
            background-color: #FBEDE0;
            border-top-left-radius: 120px;
            border-top-right-radius: 120px;
            border-bottom-left-radius: 120px;
            margin-top: 109px;
            margin-left: 195px;
            padding: 90px;
            padding-right: 88px;
            padding-bottom: 60px;
            padding-left: 360px;
            display: flex;
        }
        
        .photo-museums {
            border-radius: 63px;
            margin-bottom: 30px;
            width: 100%;
        }
        
        .price-box {
            background-color: white;
            border: 2px black solid;
            border-radius: 63px;
            padding: 60px;
        }
        
        .price-heading {
            display: inline-block;
            font-weight: bold;
            font-size: 18px;
            color: #1F4B59;
            line-height: 40px;
        }
        
        .price-text {
            width: 325px;
            line-height: 29px;
            color: #1F4B59;
            font-size: 18px;
        }
        
        .price {
            width: 325px;
            line-height: 29px;
            color: #FF8827;
            font-weight: 600;
            font-size: 18px;
        }
        
        .museums-headings {
            display: inline-block;
            font-weight: bold;
            font-size: 36px;
            color: #D86C00;
            margin-right: 123px;
            line-height: 47px;
        }
        
        .heading-svg {
            display: flex;
            align-items: center;
            margin-bottom: 54px;
        }
        
        .price-text-content {
            font-size: 14px;
            color: #1F4B59;
            line-height: 21px;
        }
        
        .photo-price {
            width: 480px;
            position: absolute;
            top: 320px;
            left: 180px;
        }
        
        .section-cream-small-2 {
            width: 850px;
            background-color: #FBEDE0;
            border-top-left-radius: 120px;
            border-top-right-radius: 120px;
            border-bottom-right-radius: 120px;
            margin-top: 240px;
            margin-right: 195px;
            padding: 90px;
            padding-right: 385px;
            padding-bottom: 60px;
            padding-left: 65px;
            position: relative;
        }
        
        .photo-price-2 {
            width: 480px;
            position: absolute;
            right: -195px;
            top: -40px;
        }
        
        .icon-margin {
            display: flex;
            margin-right: 160px;
        }
        
        .section-cream-small-3 {
            width: 850px;
            background-color: #FBEDE0;
            border-top-left-radius: 120px;
            border-top-right-radius: 120px;
            border-bottom-left-radius: 120px;
            margin-top: 200px;
            margin-left: 195px;
            margin-bottom: 240px;
            padding: 90px;
            padding-right: 88px;
            padding-bottom: 60px;
            padding-left: 360px;
            position: relative;
        }
        
        .photo-price-3 {
            width: 480px;
            position: absolute;
            top: -42px;
            left: -195px;
        }